@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import './vars.scss';

* {
  font-family: Inter, sans-serif;
  font-weight: 500;
  color: #1e1e1e;

  &::placeholder {
    color: #999;
  }
}

.modal_position {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 8000;
}

.hidden {
  width: 0;
  height: 0;
  visibility: hidden;
  display: none;
}

.modal_window_default {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
  background-color: $col_white;
  border-radius: 12px;
  padding: 40px 30px;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
}

.nav_test {
  width: 100vw;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 100px;
}

.item_test {
  width: 100%;
  display: inline-flex;
  margin-bottom: 20px;
}

.link_test {
  margin-right: 50px;
  color: blue;
}

* {
  &::-webkit-scrollbar {
    padding: 2px;
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-track {
    background-color: inherit;
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 10px;
    background-color: $col_scrollbar;

    &:hover {
      background-color: $col_scrollbar_hover;
    }
  }
}
