@import '../../../styles/vars.scss';

.primary,
.red {
   cursor: pointer;
   display: inline-flex;
   border: 0;
   margin: 0;
   padding: 0;
   background-color: inherit;
}

.primary {
   color: $col_btn_blue;

   &:hover {
      color: $col_btn_blue_hover
   }
}

.red {
   color: $col_btn_red;

   &:hover {
      color: $col_btn_red_hover
   }
}