@import '../../styles/vars.scss';

.block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: $font_placoholder;
  border: 1px solid $font_placoholder;
  border-radius: 12px;
  padding: 10px 15px;
  font-size: 12px;
}
