@import url('../../styles/vars.scss');

.main {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 310px 1fr;
  margin: 0;
  padding: 0;
}
