@import '../../../styles/vars.scss';

.block {
  width: 100%;
  margin-bottom: 0.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.label {
  color: $font_placoholder;
  font-family: Inter, sans-serif;
}

.input {
  width: 100%;
  padding: 7px 0;
  border-bottom: 1px #3369f3 solid;
  color: $font_dark;

  &::placeholder {
    color: $font_placoholder;
  }
}

.error {
  font-style: 8px;
  color: $font_red;
}
