@import '../../styles/vars.scss';

.block {

   &__time {
      font-size: 9px;
      color: $font_placoholder;
   }
}

.block_image {
   padding: 2px 7px;
   border-radius: 30px;
   background: rgba(82, 82, 82, 0.5);

   &__time {
      font-size: 9px;
      color: $font_white;

   }
}