@import '../../../../styles/vars.scss';

.avatar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: $col_gray;
    margin-bottom: 20px;
    position: relative;
  }

  &__hover {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: $font_white;

    &:hover {
      opacity: 1;
      background-color: $col_background_dark;
    }
  }

  &__name {
    font-style: 16px;
    font-weight: 600;
  }
}
