@import "../../../styles/vars.scss";

.link {
   width: auto;
   height: 100%;
   padding: 0 20px;
   background-color: $col_nav_white;
   display: flex;
   justify-content: center;
   align-items: center;
   border-left: 1px $col_border_gray solid;

   &:hover {
      background-color: $col_nav_white_hover;
   }
}

.img {
   width: auto;
   height: auto;
}