@import "../../../../styles/vars.scss";

.link_profile {
   font-style: 12px;
   color: $font_placoholder;
   width: auto;
   display: flex;
   align-items: center;

   &__text {
      color: inherit;
      font-size: inherit;
      margin-right: 8px;
   }

   &__img {
      width: auto; //7px;
      height: auto; //12px;
   }
}