@import '../../../styles/vars.scss';

.btn,
.btn_active {
   cursor: pointer;
   width: 25px;
   height: 25px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all .4s ease;

   &:hover {
      background-color: $col_btn_gray;

      img {
         fill: $col_btn_blue;
      }
   }
}

.btn_active {
   background-color: $col_btn_gray;

   .img {
      fill: $col_btn_blue;
   }
}

.img {
   width: auto;
   height: auto;
}